<!-- 
<div style="padding: 15px; ">
	<div style="border: 2px solid black; padding: 5px;">
  
	    <div class="dropzone" appFileDragNDrop (filesChangeEmiter)="onFileChange($event)">
				<div class="droparea">
					
						<input type="file" class="filestyle" name="file" id="file"  multiple>
						<label for="file"> <div class="textLink"> <mat-icon style="font-size: 40px; width: 100px;"  >cloud_upload</mat-icon> <br>  Drag and Drop to  Upload <br> OR <br>Browse File</div></label>
					
				</div>
		</div>
	</div>

		<hr>
		<h3 mat-subheader>Files</h3>
	<div class="row fileItem" *ngFor="let f of files; let ind = index">
			<div class=" fileItemIconDiv" >
				<mat-icon (click)="deleteFromArray(ind)" class="" style="font-size: 15px; position: absolute; right: 5px; top: 5px;" >close</mat-icon>
				<mat-icon aria-hidden="false" style="font-size: 50px;width: 100%;" >file_open</mat-icon>
			</div>
			<div class="fileItemText">
				<span>{{f.name}}</span>
				<span>{{f.path}}</span>
			</div>
	</div> -->

	hey i am harsh jagwani and i made some changes

<table>
	<tr>
		<th>S.no</th>
		<th>Product</th>
		<th>Qty</th>
		<th>Price</th>
		<th>Total Cost</th>
	</tr>

	<tr *ngFor="let file of files">
		<td>{{file.Sno}}</td>
		<td>{{file.Product}}</td>
		<td>{{file.Qty}}</td>




















		
		<td>{{file.Price}}</td>
		<td>{{file.Cost}}</td>	

	</tr>
	<tr>
		<td><input type="number"></td>
		<td><input type="text" placeholder="Description"></td>
		<td><input type="number" (change)="Tot()" [(ngModel)]="qty" ></td>
		<td><input type="number" (change)="Tot()" [(ngModel)]="unitCost"  ></td>
		<td><input type="number" value="{{total}}" ></td>
	</tr>
	

</table>
  
<input type="text" disabled value="{{GrossTotal}}">



<!-- <input type="number" [(ngModel)]="qty" > -->
